<header>
    <link rel="stylesheet" href="{{ 'header.css' | asset_url }}">
    <div class="container">
        <div class="logo">
            <a href="{{ shop.url }}">
                <!-- <img src="{{ shop.brand.logo | img_url: '100x' }}" alt="{{ shop.name }}" style="max-width: 100%; height: auto;"> -->
            </a>
        </div>
        <nav class="nav-menu">
            <ul>
                {% for link in linklists.main-menu.links %}
                    <li>
                        <a href="{{ link.url }}">{{ link.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </nav>
    </div>
</header>
    

