{% schema %}
{
    "name": "carousel",
    "settings": [
        {
            "type": "collection_list",
            "id": "carousel_list",
            "label": "Carousel"
        }
        ]
}
{% endschema %}

<link rel="stylesheet" href="{{ 'carousel.css' | asset_url }}">

<div class="collection-container">
    <div class="collection-carrousel">
        {% for product in collections['Hydrogen'].products %}
            <div class="product-item">
                <img src="{{ product.featured_image | img_url: '150x150' }}" alt="{{ product.title }}">
                <a href="{{ product.url }}" class="show-product-button">+</a>
                <h2 class="product-title-carousel">{{ product.title }}</h2>
                <div class="product-price-carousel">{{ product.price | money }}</div>
                <p>{{ product.description }}</p>
            </div>
        {% endfor %}
    </div>
</div>