{% schema %}
    {
     "name": "footer",
     "settings": [
        {
          "type": "text",
          "id": "footer_text",
          "label": "Footer Text",
          "default": "© 2024 RACCOONS. All rights reserved."
        }
     ],
     "blocks": [
        {
          "type": "footer",
          "name": "Footer",
          "settings": [
            {
              "type": "text",
              "id": "footer_text",
              "label": "Footer Text",
              "default": "© 2024 RACCOONS. All rights reserved."
            }
          ]
        },
        {
            "name": "Social link",
            "type": "social",
            "settings": [
                {
                    "type": "text",
                    "id": "text",
                    "label": "text"
                },
                {
                    "type": "url",
                    "id": "url",
                    "label": "URL"
                }
            ]
        }
     ],
     "presets": [
        {
          "name": "Default Footer",
          "category": "Footer"
        }
     ]
    }
{% endschema %}

<footer>
    <link rel="stylesheet" href="{{ 'footer.css' | asset_url }}">
    <div class="container">
        
        <div class="footer-info">

            <p>{{ section.settings.footer_text }}</p>
            <p>
                {{ shop.brand.slogan }}
            </p>

            <ul class="social-links">
                {% for block in section.blocks %}
                    {% if block.type == 'social' %}
                        <li>
                            <a href="{{ block.settings.url }}">{{ block.settings.text }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>

        </div>
    </div>
</footer>