{% schema %}
    {
     "name": "footer",
     "settings": [
        {
          "type": "text",
          "id": "footer_text",
          "label": "Footer Text",
          "default": "© 2024 RACCOONS. All rights reserved."
        }
     ],
     "blocks": [
        {
          "type": "footer",
          "name": "Footer",
          "settings": [
            {
              "type": "text",
              "id": "footer_text",
              "label": "Footer Text",
              "default": "© 2024 RACCOONS. All rights reserved."
            }
          ]
        },
        {
            "name": "Social links",
            "type": "social",
            "settings": [
                {
                    "type": "text",
                    "id": "text",
                    "label": "text"
                },
                {
                    "type": "url",
                    "id": "url",
                    "label": "URL"
                }
            ]
        }
     ],
     "presets": [
        {
          "name": "Default Footer",
          "category": "Footer"
        }
     ]
    }
{% endschema %}

<footer>
    <link rel="stylesheet" href="{{ 'footer.css' | asset_url }}">
    <div class="container">
        <div class="footer-nav">
            <ul>
                {% for link in linklists.footer-menu.links %}
                    <li>
                        <a href="{{ link.url }}">{{ link.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="footer-info">
            <p>{{ section.settings.footer_text }}</p>
            <p>
                {{ shop.brand.slogan }}
            </p>
            <ul class="social-links">
                <li><a href="{{ shop.social.facebook }}">Facebook</a></li>
                <li><a href="{{ shop.social.twitter }}">Twitter</a></li>
                <li><a href="{{ shop.social.instagram }}">Instagram</a></li>

                {% for block in section.blocks %}
                    <a href="{{ block.settings.url }}">{{ section.blocks.id }} </a>
                {% endfor %}

            </ul>
        </div>
    </div>
</footer>