{% schema %}
    {
      "name": "header",
      "settings": [
        {
          "type": "text",
          "id": "shop_name",
          "label": "Shop Name",
          "default": "raccoons"
        },
        {
          "type": "image_picker",
          "id": "background-image",
          "label": "Background image"
        }
      ],
      "tag": "header",
      "class": "header-section",
      "limit": 1
    }
{% endschema %}
    
<header>
    <link rel="stylesheet" href="{{ 'header.css' | asset_url }}">
    <!-- image was not uploading, but this is how you use blocks for lient image upload in backoffice : <div class="header-container" style="background-image: url('{{ block.settings.background_image | img_url: '1024x' }}');">  -->
    
    <div class="header-container" style="background-image: url({{ section.settings.background-image |  image_url: width: '100%'}})">

    <div class="left-menu">
      <div class="hamburger-menu" id="hamburger-menu">
        <div></div>
        <div></div>
    </div>
    <div class="dropdown-menu" id="dropdown-menu">
        <ul>
          <li>montre 1</li>
          <li>montre 2</li>
          <li>montre 3</li>
        </ul>
    </div>
    </div>

      <div class="shop-name" id="shop-name">
          {{ section.settings.shop_name }}
      </div>

      <div class="right-menu">
          <button>
            <p class="translations">
              français
            </p>
            <i class="fa fa-globe"></i>
          </button> 
      </div>

     </div>
     <script src="{{ 'header-script.js' | asset_url }}"></script>
</header>